# Data Wrangling
ในบทนี้ จะเป็นการแนะนำการทำ Data Wrangling หรือการเตรียมข้อมูล ด้วยภาษา `R`

Data Wrangling เป็น ขั้นตอนในการเตรียมข้อมูลเพื่อการวิเคราะห์ซึ่งจะรวมถึงขั้นตอน
- import data หมายถึง การนำเข้าข้อมูลจากหลากหลายแหล่ง
- tidy data หมายถึง การจัดรูปแบบของข้อมูล เช่น การ reshape ข้อมูล
- transform data หมายถึง การแปลงข้อมูล การทำ feature engineering เป็นต้น

![](https://d33wubrfki0l68.cloudfront.net/571b056757d68e6df81a3e3853f54d3c76ad6efc/32d37/diagrams/data-science.png)

# Install and Load packages

In [ ]:
options(
  repr.plot.width=10, 
  repr.plot.height=6, 
  repr.plot.res = 300,
  repr.matrix.max.rows = 10,
  repr.matrix.max.cols = Inf
)

In [ ]:
# if running on google colab
options("repos" = "https://packagemanager.rstudio.com/cran/__linux__/bionic/latest/")
install.packages("RPostgres")
install.packages("writexl")

In [1]:
library(tidyverse)
library(DBI)
library(RPostgres)
library(httr)
library(vroom)
library(readxl)
library(writexl)

-- Attaching packages ------------------------------------------------------------------------------------------------------------------------------------------------ tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.2     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts --------------------------------------------------------------------------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Load Data

## setting path

In [2]:
getwd()

[1] "C:/Users/Acer/Google Drive/workshop/2021-08-24_introR/notebook"

In [3]:
setwd("..")
getwd()

[1] "C:/Users/Acer/Google Drive/workshop/2021-08-24_introR"

## csv

In [4]:
df_csv <- read_csv("data/production_oae.csv")
df_csv

-- Column specification -----------------------------------------------------------------------------------------------------------------------------------------------------------------
cols(
  commod = col_character(),
  subcommod = col_character(),
  season = col_double(),
  variety = col_character(),
  year_crop = col_character(),
  year = col_double(),
  province = col_character(),
  province_code = col_character(),
  reg_oae = col_character(),
  reg_nesdb = col_character(),
  reg_osrt = col_character(),
  status = col_character(),
  update_date = col_date(format = ""),
  area_plant = col_double(),
  area_harvest = col_double(),
  production = col_double(),
  yield_plant = col_double(),
  yield_harvest = col_double()
)

      commod subcommod        season variety       year_crop year
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
...   ...    ...              ...    ...           ...       ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
      province              province_code reg_oae reg_nesdb reg_osrt status
1     ประเทศไทย             TH00          NA      NA        NA       สถิติ
2     ภาคเหนือ              TH01          NA      NA        NA       สถิติ
3     ภาคตะวันออกเฉียงเหนือ TH02          NA      NA        NA       สถิติ
4     ภาคกลาง               TH03          NA      NA        NA       สถิติ
5     ภาคใต้                TH06          NA      NA        NA       สถิติ
...   ...                   ...           ...     ...       ...      ...
18681 อุตรดิตถ์             TH53          N       N         N        พยากรณ์
18682 อำนาจเจริญ            TH37          NE      NE        NE       พยากรณ์
18683 อุบลราชธานี           TH34          NE      NE        NE       พยากรณ์
18684 บึงกาฬ                TH38          NE      NE        NE       พยากรณ์
18685 บุรีรัมย์             TH31          NE      NE        NE       พยากรณ์
      update_date area_plant area_harvest production yield_plant yield_harvest
1     2556-11-21  56392231   53383281     15757745   279.4311    295.1813
2     2556-11-21  12655814   12422132      5258621   415.5103    423.3268
3     2556-11-21  28000661   26103169      5389709   192.4851    206.4772
4     2556-11-21  11660934   11415444      4010097   343.8916    351.2870
5     2556-11-21   4074822    3442536      1099318   269.7831    319.3338
...   ...         ...        ...          ...        ...         ...
18681 2556-06-25  12631      12568         7882      624.0203    627.1483
18682 2556-06-25    510        510          237      464.7059    464.7059
18683 2556-06-25  40156      40036        19877      494.9945    496.4782
18684 2556-06-25  13565      13416         6837      504.0177    509.6154
18685 2556-06-25   1120       1075          491      438.3929    456.7442

In [5]:
df_vroom <- vroom("data/production_oae.csv")
df_vroom

Rows: 18685 Columns: 18

-- Column specification -----------------------------------------------------------------------------------------------------------------------------------------------------------------
Delimiter: ","
chr  (10): commod, subcommod, variety, year_crop, province, province_code, r...
dbl   (7): season, year, area_plant, area_harvest, production, yield_plant, ...
date  (1): update_date


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

      commod subcommod        season variety       year_crop year
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
...   ...    ...              ...    ...           ...       ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
      province              province_code reg_oae reg_nesdb reg_osrt status
1     ประเทศไทย             TH00          NA      NA        NA       สถิติ
2     ภาคเหนือ              TH01          NA      NA        NA       สถิติ
3     ภาคตะวันออกเฉียงเหนือ TH02          NA      NA        NA       สถิติ
4     ภาคกลาง               TH03          NA      NA        NA       สถิติ
5     ภาคใต้                TH06          NA      NA        NA       สถิติ
...   ...                   ...           ...     ...       ...      ...
18681 อุตรดิตถ์             TH53          N       N         N        พยากรณ์
18682 อำนาจเจริญ            TH37          NE      NE        NE       พยากรณ์
18683 อุบลราชธานี           TH34          NE      NE        NE       พยากรณ์
18684 บึงกาฬ                TH38          NE      NE        NE       พยากรณ์
18685 บุรีรัมย์             TH31          NE      NE        NE       พยากรณ์
      update_date area_plant area_harvest production yield_plant yield_harvest
1     2556-11-21  56392231   53383281     15757745   279.4311    295.1813
2     2556-11-21  12655814   12422132      5258621   415.5103    423.3268
3     2556-11-21  28000661   26103169      5389709   192.4851    206.4772
4     2556-11-21  11660934   11415444      4010097   343.8916    351.2870
5     2556-11-21   4074822    3442536      1099318   269.7831    319.3338
...   ...         ...        ...          ...        ...         ...
18681 2556-06-25  12631      12568         7882      624.0203    627.1483
18682 2556-06-25    510        510          237      464.7059    464.7059
18683 2556-06-25  40156      40036        19877      494.9945    496.4782
18684 2556-06-25  13565      13416         6837      504.0177    509.6154
18685 2556-06-25   1120       1075          491      438.3929    456.7442

## excel

In [6]:
df_excel <- read_excel("data/production_oae.xlsx")
df_excel

      commod subcommod        season variety       year_crop year
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
...   ...    ...              ...    ...           ...       ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
      province              province_code reg_oae reg_nesdb reg_osrt status
1     ประเทศไทย             TH00          NA      NA        NA       สถิติ
2     ภาคเหนือ              TH01          NA      NA        NA       สถิติ
3     ภาคตะวันออกเฉียงเหนือ TH02          NA      NA        NA       สถิติ
4     ภาคกลาง               TH03          NA      NA        NA       สถิติ
5     ภาคใต้                TH06          NA      NA        NA       สถิติ
...   ...                   ...           ...     ...       ...      ...
18681 อุตรดิตถ์             TH53          N       N         N        พยากรณ์
18682 อำนาจเจริญ            TH37          NE      NE        NE       พยากรณ์
18683 อุบลราชธานี           TH34          NE      NE        NE       พยากรณ์
18684 บึงกาฬ                TH38          NE      NE        NE       พยากรณ์
18685 บุรีรัมย์             TH31          NE      NE        NE       พยากรณ์
      update_date area_plant area_harvest production yield_plant yield_harvest
1     2556-11-21  56392231   53383281     15757745   279.4311    295.1813
2     2556-11-21  12655814   12422132      5258621   415.5103    423.3268
3     2556-11-21  28000661   26103169      5389709   192.4851    206.4772
4     2556-11-21  11660934   11415444      4010097   343.8916    351.2870
5     2556-11-21   4074822    3442536      1099318   269.7831    319.3338
...   ...         ...        ...          ...        ...         ...
18681 2556-06-25  12631      12568         7882      624.0203    627.1483
18682 2556-06-25    510        510          237      464.7059    464.7059
18683 2556-06-25  40156      40036        19877      494.9945    496.4782
18684 2556-06-25  13565      13416         6837      504.0177    509.6154
18685 2556-06-25   1120       1075          491      438.3929    456.7442

## rds

In [7]:
df_rds <- readRDS("data/production_oae.rds")
df_rds

      commod subcommod        season variety       year_crop year
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
...   ...    ...              ...    ...           ...       ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
      province              province_code reg_oae reg_nesdb reg_osrt status
1     ประเทศไทย             TH00          NA      NA        NA       สถิติ
2     ภาคเหนือ              TH01          NA      NA        NA       สถิติ
3     ภาคตะวันออกเฉียงเหนือ TH02          NA      NA        NA       สถิติ
4     ภาคกลาง               TH03          NA      NA        NA       สถิติ
5     ภาคใต้                TH06          NA      NA        NA       สถิติ
...   ...                   ...           ...     ...       ...      ...
18681 อุตรดิตถ์             TH53          N       N         N        พยากรณ์
18682 อำนาจเจริญ            TH37          NE      NE        NE       พยากรณ์
18683 อุบลราชธานี           TH34          NE      NE        NE       พยากรณ์
18684 บึงกาฬ                TH38          NE      NE        NE       พยากรณ์
18685 บุรีรัมย์             TH31          NE      NE        NE       พยากรณ์
      update_date area_plant area_harvest production yield_plant yield_harvest
1     2556-11-21  56392231   53383281     15757745   279.4311    295.1813
2     2556-11-21  12655814   12422132      5258621   415.5103    423.3268
3     2556-11-21  28000661   26103169      5389709   192.4851    206.4772
4     2556-11-21  11660934   11415444      4010097   343.8916    351.2870
5     2556-11-21   4074822    3442536      1099318   269.7831    319.3338
...   ...         ...        ...          ...        ...         ...
18681 2556-06-25  12631      12568         7882      624.0203    627.1483
18682 2556-06-25    510        510          237      464.7059    464.7059
18683 2556-06-25  40156      40036        19877      494.9945    496.4782
18684 2556-06-25  13565      13416         6837      504.0177    509.6154
18685 2556-06-25   1120       1075          491      438.3929    456.7442

## database

In [8]:
conn <- dbConnect(
  RPostgres::Postgres(),
  host = "192.168.4.133",
  user = "oae_user",
  password = "p@ssword",
  dbname = "db_nabc",
  options="-c search_path=definition"
)

In [9]:
dbListTables(conn)

 [1] "tha3"                     "usda_attribute"
 [3] "tha2"                     "usda_commod"
 [5] "usda_country"             "usda_unit"
 [7] "commod_oae"               "month_th"
 [9] "price_fao_international"  "price_moc"
[11] "price_oae"                "production_oae_attribute"
[13] "production_oae_class"     "production_oae_commod"
[15] "production_oae_status"    "tha1"

In [10]:
ref <- list()
ref$tha1 <- dbReadTable(conn, "tha1")
ref$tha1

    adm1_pcode adm1_name_th          adm1_label_th adm1_name_th_regex
1   TH00       ประเทศไทย             ประเทศไทย     .*ประเทศ
2   TH01       ภาคเหนือ              เหนือ         (ภาค)เหนือ$
3   TH02       ภาคตะวันออกเฉียงเหนือ ตอ.เฉียงเหนือ .*เฉียงเหนือ$
4   TH03       ภาคกลาง               กลาง          .*กลาง$
5   TH04       ภาคตะวันออก           ตะวันออก      .*ตะวันออก$
... ...        ...                   ...           ...
80  TH90       สงขลา                 สงขลา         ^(จ.)*สงขลา$
81  TH91       สตูล                  สตูล          ^(จ.)*สตูล$
82  TH94       ปัตตานี               ปัตตานี       ^(จ.)*ปัตตานี$
83  TH95       ยะลา                  ยะลา          ^(จ.)*ยะลา$
84  TH96       นราธิวาส              นราธิวาส      ^(จ.)*นราธิวาส$
    adm1_name_en adm1_label_en adm1_name_en_regex is_agg code_oae HASC_1 lat
1   Thailand     Thailand      NA                 TRUE   000      NA     NA
2   North        North         NA                 TRUE   001      NA     NA
3   Northeast    Northeast     NA                 TRUE   002      NA     NA
4   Central      Central       NA                 TRUE   003      NA     NA
5   East         East          NA                 TRUE   NA       NA     NA
... ...          ...           ...                ...    ...      ...    ...
80  Songkhla     Songkhla      .*songkhla.*       FALSE  730      TH.SG  7.20
81  Satun        Satun         .*satun.*          FALSE  740      TH.SA  6.88
82  Pattani      Pattani       .*pattani.*        FALSE  750      TH.PI  6.87
83  Yala         Yala          .*yala.*           FALSE  760      TH.YL  6.54
84  Narathiwat   Narathiwat    .*narathiwat.*     FALSE  770      TH.NW  6.41
    lon    alt  reg_oae reg_oae_rank reg_nesdb reg_nesdb_rank reg_osrt
1   NA     NA   NA      NA           NA        NA             NA
2   NA     NA   NA      NA           NA        NA             NA
3   NA     NA   NA      NA           NA        NA             NA
4   NA     NA   NA      NA           NA        NA             NA
5   NA     NA   NA      NA           NA        NA             NA
... ...    ...  ...     ...          ...       ...            ...
80  100.60  5.0 S       4            S         6              S
81   99.79  7.0 S       4            S         6              S
82  101.25  0.9 S       4            S         6              S
83  101.28 31.0 S       4            S         6              S
84  101.81  5.0 S       4            S         6              S
    reg_osrt_rank
1   NA
2   NA
3   NA
4   NA
5   NA
... ...
80  6
81  6
82  6
83  6
84  6

## API (Application Programming Interface)

In [11]:
# https://data.moc.go.th/OpenData/GISProductPrice
httr::set_config(config(ssl_verifypeer = 0L))
res <- httr::GET(
  "https://dataapi.moc.go.th/gis-product-prices?",
  query = list(
    product_id = "R11029",
    from_date = "2021-01-01",
    to_date = Sys.Date()
  )
)

In [12]:
res %>% httr::content("text") %>% jsonlite::fromJSON()

$product_id
[1] "R11029"

$product_name
[1] "ข้าวหอมมะลิ 100% ชั้น 1"

$product_desc_en
[1] ""

$product_desc_th
[1] ""

$category_name
[1] "ขายส่ง"

$group_name
[1] "ราคาขายส่งข้าว ผลิตภัณฑ์ข้าวและกระสอบป่าน"

$unit
[1] "บาท/100 กก."

$price_min_avg
[1] 2551.316

$price_max_avg
[1] 2561.316

$price_list
                   date price_min price_max
1   2021-01-04T00:00:00      3050      3060
2   2021-01-05T00:00:00      3050      3060
3   2021-01-06T00:00:00      3050      3060
4   2021-01-07T00:00:00      3050      3060
5   2021-01-08T00:00:00      3050      3060
6   2021-01-11T00:00:00      3050      3060
7   2021-01-12T00:00:00      3050      3060
8   2021-01-13T00:00:00      3050      3060
9   2021-01-14T00:00:00      3050      3060
10  2021-01-15T00:00:00      3050      3060
11  2021-01-18T00:00:00      3050      3060
12  2021-01-19T00:00:00      3050      3060
13  2021-01-20T00:00:00      3050      3060
14  2021-01-21T00:00:00      3050      3060
15  2021-01-22T00:00:00      3050      3060
16  2021-01-25T00:00:00      3050      3060
17  2021-01-26T00:00:00      3050      3060
18  2021-01-27T00:00:00      3050      3060
19  2021-01-28T00:00:00      3050      3060
20  2021-01-29T00:00:00      3000      3010
21  2021-02-01T00:00:00      2800      2810
22  2021-02-02T00:00:00      2800      2810
23  2021-02-03T00:00:00      2800      2810
24  2021-02-04T00:00:00      2800      2810
25  2021-02-05T00:00:00      2800      2810
26  2021-02-08T00:00:00      2800      2810
27  2021-02-09T00:00:00      2800      2810
28  2021-02-10T00:00:00      2800      2810
29  2021-02-11T00:00:00      2800      2810
30  2021-02-15T00:00:00      2800      2810
31  2021-02-16T00:00:00      2800      2810
32  2021-02-17T00:00:00      2800      2810
33  2021-02-18T00:00:00      2800      2810
34  2021-02-19T00:00:00      2800      2810
35  2021-02-22T00:00:00      2800      2810
36  2021-02-23T00:00:00      2800      2810
37  2021-02-24T00:00:00      2800      2810
38  2021-02-25T00:00:00      2800      2810
39  2021-03-01T00:00:00      2800      2810
40  2021-03-02T00:00:00      2800      2810
41  2021-03-03T00:00:00      2800      2810
42  2021-03-04T00:00:00      2800      2810
43  2021-03-05T00:00:00      2800      2810
44  2021-03-08T00:00:00      2800      2810
45  2021-03-09T00:00:00      2800      2810
46  2021-03-10T00:00:00      2800      2810
47  2021-03-11T00:00:00      2800      2810
48  2021-03-12T00:00:00      2700      2710
49  2021-03-15T00:00:00      2600      2610
50  2021-03-16T00:00:00      2600      2610
51  2021-03-17T00:00:00      2600      2610
52  2021-03-18T00:00:00      2600      2610
53  2021-03-19T00:00:00      2600      2610
54  2021-03-22T00:00:00      2600      2610
55  2021-03-23T00:00:00      2600      2610
56  2021-03-24T00:00:00      2600      2610
57  2021-03-25T00:00:00      2600      2610
58  2021-03-26T00:00:00      2600      2610
59  2021-03-29T00:00:00      2600      2610
60  2021-03-30T00:00:00      2600      2610
61  2021-03-31T00:00:00      2600      2610
62  2021-04-01T00:00:00      2600      2610
63  2021-04-02T00:00:00      2600      2610
64  2021-04-05T00:00:00      2600      2610
65  2021-04-07T00:00:00      2550      2560
66  2021-04-08T00:00:00      2500      2510
67  2021-04-09T00:00:00      2500      2510
68  2021-04-16T00:00:00      2500      2510
69  2021-04-19T00:00:00      2500      2510
70  2021-04-20T00:00:00      2500      2510
71  2021-04-21T00:00:00      2500      2510
72  2021-04-22T00:00:00      2500      2510
73  2021-04-23T00:00:00      2500      2510
74  2021-04-26T00:00:00      2500      2510
75  2021-04-27T00:00:00      2500      2510
76  2021-04-28T00:00:00      2500      2510
77  2021-04-29T00:00:00      2450      2460
78  2021-04-30T00:00:00      2450      2460
79  2021-05-03T00:00:00      2450      2460
80  2021-05-05T00:00:00      2450      2460
81  2021-05-06T00:00:00      2450      2460
82  2021-05-07T00:00:00      2450      2460
83  2021-05-11T00:00:00      2400      2410
84  2021-05-12T00:00:00      2350      2360
85  2021-05-13T00:00:00      2350      2360
86  2021-05-14T00:00:00      2350      2360
87  2021-05-17T00:00:00      2350      2360
88  2021-05-18T00:00:00      2350      2360
89  2021-05-19T00:00:00      2350      2360
90  2021-05-20T00:00:00      2350      2360
91  2021-05-21T00:00:00      2350      2360
92  2021-05-24T00:00:00      2350      2360
93  2021-05-25T00:00:00      2350      2360
94  2021-05-27T00:00:00      2350      2360
95  2021-05-28T00:00:00      2350      2360
96  2021-05-31T00:00:00      2350      2360
97  2021-06-01T00:00:00      2350      2360
98  2021-06-02T00:00:00      2350      2360
99  2021-06-04T00:00:00      2350      2360
100 2021-06-07T00:00:00      2350      2360
101 2021-06-08T00:00:00      2350      2360
102 2021-06-09T00:00:00      2350      2360
103 2021-06-10T00:00:00      2350      2360
104 2021-06-11T00:00:00      2350      2360
105 2021-06-14T00:00:00      2350      2360
106 2021-06-15T00:00:00      2350      2360
107 2021-06-16T00:00:00      2350      2360
108 2021-06-17T00:00:00      2350      2360
109 2021-06-18T00:00:00      2350      2360
110 2021-06-21T00:00:00      2350      2360
111 2021-06-22T00:00:00      2350      2360
112 2021-06-23T00:00:00      2350      2360
113 2021-06-24T00:00:00      2350      2360
114 2021-06-25T00:00:00      2350      2360
115 2021-06-28T00:00:00      2350      2360
116 2021-06-29T00:00:00      2300      2310
117 2021-06-30T00:00:00      2300      2310
118 2021-07-01T00:00:00      2300      2310
119 2021-07-02T00:00:00      2300      2310
120 2021-07-05T00:00:00      2300      2310
121 2021-07-06T00:00:00      2300      2310
122 2021-07-07T00:00:00      2300      2310
123 2021-07-08T00:00:00      2300      2310
124 2021-07-09T00:00:00      2300      2310
125 2021-07-12T00:00:00      2300      2310
126 2021-07-13T00:00:00      2300      2310
127 2021-07-14T00:00:00      2300      2310
128 2021-07-15T00:00:00      2300      2310
129 2021-07-16T00:00:00      2300      2310
130 2021-07-19T00:00:00      2300      2310
131 2021-07-20T00:00:00      2300      2310
132 2021-07-21T00:00:00      2300      2310
133 2021-07-22T00:00:00      2300      2310
134 2021-07-23T00:00:00      2300      2310
135 2021-07-27T00:00:00      2300      2310
136 2021-07-29T00:00:00      2300      2310
137 2021-07-30T00:00:00      2300      2310
138 2021-08-02T00:00:00      2300      2310
139 2021-08-03T00:00:00      2300      2310
140 2021-08-04T00:00:00      2250      2260
141 2021-08-05T00:00:00      2250      2260
142 2021-08-06T00:00:00      2250      2260
143 2021-08-09T00:00:00      2250      2260
144 2021-08-10T00:00:00      2250      2260
145 2021-08-11T00:00:00      2250      2260
146 2021-08-13T00:00:00      2250      2260
147 2021-08-16T00:00:00      2250      2260
148 2021-08-17T00:00:00      2250      2260
149 2021-08-18T00:00:00      2250      2260
150 2021-08-19T00:00:00      2300      2310
151 2021-08-20T00:00:00      2300      2310
152 2021-08-23T00:00:00      2300      2310

In [13]:
res <- res %>% httr::content("text") %>% jsonlite::fromJSON()
res$price_list

    date                price_min price_max
1   2021-01-04T00:00:00 3050      3060
2   2021-01-05T00:00:00 3050      3060
3   2021-01-06T00:00:00 3050      3060
4   2021-01-07T00:00:00 3050      3060
5   2021-01-08T00:00:00 3050      3060
... ...                 ...       ...
148 2021-08-17T00:00:00 2250      2260
149 2021-08-18T00:00:00 2250      2260
150 2021-08-19T00:00:00 2300      2310
151 2021-08-20T00:00:00 2300      2310
152 2021-08-23T00:00:00 2300      2310

# Tidy Data Concept
Tidy data คือ การจัดการข้อมูลให้อยู่ในโครงสร้างตาราง โดยที่
1. column = ตัวแปร
2. row = ข้อมูล
3. cell = ค่าที่วัดได้

> Tidy data is a way to describe data that’s organized with a particular structure – a rectangular structure, where each variable has its own column, and each observation has its own row (Wickham 2014).
![](https://www.openscapes.org/img/blog/tidydata/tidydata_1.jpg)

# Data Wrangling/ Data Manipulation
การจัดการข้อมูลมี operation หลักๆ ดังนี้
- select
- filter
- mutate
- summarize
- arrange
- join

## select
คือ การเลือกตัวแปร หรือ column ที่ต้องการ โดยสามารถเปลี่ยนชื่อตัวแปรได้ด้วย

**Syntax:**
```{r}
df %>%
  select(
    column_x, new_column_y = column_y, ...
  )
```
Note: `%>%` คือ pipe operator ซึ่งจะนำ object ที่อยู่ก่อนหน้ามาใส่เป็น argument แรกของ function ถัดไป
การใช้ `%>%` จะทำให้ code อ่านง่ายขึ้น หากไม่ใช้จะเป็น nested function

In [14]:
df_rds %>%
  select(subcommod, 
         year_crop, 
         province_name = province, # เปลี่ยนชื่อจาก province เป็น province_name
         status, 
         area_plant, area_harvest, production, yield_plant, yield_harvest
        )

      subcommod        year_crop province_name         status  area_plant
1     ข้าวนาปี         2524/25   ประเทศไทย             สถิติ   56392231
2     ข้าวนาปี         2524/25   ภาคเหนือ              สถิติ   12655814
3     ข้าวนาปี         2524/25   ภาคตะวันออกเฉียงเหนือ สถิติ   28000661
4     ข้าวนาปี         2524/25   ภาคกลาง               สถิติ   11660934
5     ข้าวนาปี         2524/25   ภาคใต้                สถิติ    4074822
...   ...              ...       ...                   ...     ...
18681 ข้าวเหนียวนาปรัง 2563/64   อุตรดิตถ์             พยากรณ์ 12631
18682 ข้าวเหนียวนาปรัง 2563/64   อำนาจเจริญ            พยากรณ์   510
18683 ข้าวเหนียวนาปรัง 2563/64   อุบลราชธานี           พยากรณ์ 40156
18684 ข้าวเหนียวนาปรัง 2563/64   บึงกาฬ                พยากรณ์ 13565
18685 ข้าวเหนียวนาปรัง 2563/64   บุรีรัมย์             พยากรณ์  1120
      area_harvest production yield_plant yield_harvest
1     53383281     15757745   279.4311    295.1813
2     12422132      5258621   415.5103    423.3268
3     26103169      5389709   192.4851    206.4772
4     11415444      4010097   343.8916    351.2870
5      3442536      1099318   269.7831    319.3338
...   ...          ...        ...         ...
18681 12568         7882      624.0203    627.1483
18682   510          237      464.7059    464.7059
18683 40036        19877      494.9945    496.4782
18684 13416         6837      504.0177    509.6154
18685  1075          491      438.3929    456.7442

## filter
คือ การเลือกบาง rows ของ dataframe ตามเงื่อนไขที่เราต้องการ เช่น 

**Syntax:**
```{r}
df %>%
  filter(
    logical_expression(column_x) #i.e. column_x > 10
  )
```

In [15]:
df_rds %>%
  filter(province == "กรุงเทพมหานคร")

    commod subcommod              season variety          year_crop year
1   ข้าว   ข้าวนาปี               1      ข้าวรวม          2524/25   2524
2   ข้าว   ข้าวนาปี               1      ข้าวรวม          2525/26   2525
3   ข้าว   ข้าวนาปี               1      ข้าวรวม          2526/27   2526
4   ข้าว   ข้าวนาปี               1      ข้าวรวม          2527/28   2527
5   ข้าว   ข้าวนาปี               1      ข้าวรวม          2528/29   2528
... ...    ...                    ...    ...              ...       ...
99  ข้าว   ข้าวเจ้าอื่นๆนาปี      1      ข้าวเจ้าอื่น     2562/63   2562
100 ข้าว   ข้าวเจ้าปทุมธานีนาปี   1      ข้าวเจ้าปทุมธานี 2564/65   2564
101 ข้าว   ข้าวเจ้าอื่นๆนาปี      1      ข้าวเจ้าอื่น     2564/65   2564
102 ข้าว   ข้าวเจ้าปทุมธานีนาปรัง 2      ข้าวเจ้าปทุมธานี 2563/64   2564
103 ข้าว   ข้าวเจ้าอื่นๆนาปรัง    2      ข้าวเจ้าอื่น     2563/64   2564
    province      province_code reg_oae reg_nesdb reg_osrt status  update_date
1   กรุงเทพมหานคร TH10          C       C         C        สถิติ   2556-11-21
2   กรุงเทพมหานคร TH10          C       C         C        สถิติ   2556-11-21
3   กรุงเทพมหานคร TH10          C       C         C        สถิติ   2556-11-21
4   กรุงเทพมหานคร TH10          C       C         C        สถิติ   2556-11-21
5   กรุงเทพมหานคร TH10          C       C         C        สถิติ   2556-11-21
... ...           ...           ...     ...       ...      ...     ...
99  กรุงเทพมหานคร TH10          C       C         C        สถิติ   2563-02-17
100 กรุงเทพมหานคร TH10          C       C         C        พยากรณ์ 2564-06-25
101 กรุงเทพมหานคร TH10          C       C         C        พยากรณ์ 2564-06-25
102 กรุงเทพมหานคร TH10          C       C         C        พยากรณ์ 2556-06-25
103 กรุงเทพมหานคร TH10          C       C         C        พยากรณ์ 2556-06-25
    area_plant area_harvest production yield_plant yield_harvest
1   279075     275539       108560     388.9994    393.9914
2   298217     291257       100614     337.3852    345.4475
3   209057     204164        44529     212.9993    218.1041
4   220860     220474        72884     330.0009    330.5787
5   267750     258300        95051     354.9991    367.9868
... ...        ...          ...        ...         ...
99  49718      49718        34252      688.9255    688.9255
100 32441      32365        22546      694.9847    696.6167
101 50419      50224        35344      701.0056    703.7273
102 12810      12733         7622      595.0039    598.6021
103 57690      57344        34729      601.9934    605.6257

## mutate
คือ การสร้างตัวแปร หรือ column โดยผลลัพธ์ที่ได้จะมีจำนวนแถวเท่าเดิม เช่น การคำนวณผลผลิตต่อไร่

**Syntax:**
```{r}
df %>%
  mutate(
    new_x = expression
  )
```

In [16]:
df_rds %>%
  mutate(area_diff = area_plant - area_harvest)

      commod subcommod        season variety       year_crop year
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       2524/25   2524
...   ...    ...              ...    ...           ...       ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม 2563/64   2564
      province              province_code reg_oae reg_nesdb reg_osrt status
1     ประเทศไทย             TH00          NA      NA        NA       สถิติ
2     ภาคเหนือ              TH01          NA      NA        NA       สถิติ
3     ภาคตะวันออกเฉียงเหนือ TH02          NA      NA        NA       สถิติ
4     ภาคกลาง               TH03          NA      NA        NA       สถิติ
5     ภาคใต้                TH06          NA      NA        NA       สถิติ
...   ...                   ...           ...     ...       ...      ...
18681 อุตรดิตถ์             TH53          N       N         N        พยากรณ์
18682 อำนาจเจริญ            TH37          NE      NE        NE       พยากรณ์
18683 อุบลราชธานี           TH34          NE      NE        NE       พยากรณ์
18684 บึงกาฬ                TH38          NE      NE        NE       พยากรณ์
18685 บุรีรัมย์             TH31          NE      NE        NE       พยากรณ์
      update_date area_plant area_harvest production yield_plant yield_harvest
1     2556-11-21  56392231   53383281     15757745   279.4311    295.1813
2     2556-11-21  12655814   12422132      5258621   415.5103    423.3268
3     2556-11-21  28000661   26103169      5389709   192.4851    206.4772
4     2556-11-21  11660934   11415444      4010097   343.8916    351.2870
5     2556-11-21   4074822    3442536      1099318   269.7831    319.3338
...   ...         ...        ...          ...        ...         ...
18681 2556-06-25  12631      12568         7882      624.0203    627.1483
18682 2556-06-25    510        510          237      464.7059    464.7059
18683 2556-06-25  40156      40036        19877      494.9945    496.4782
18684 2556-06-25  13565      13416         6837      504.0177    509.6154
18685 2556-06-25   1120       1075          491      438.3929    456.7442
      area_diff
1     3008950
2      233682
3     1897492
4      245490
5      632286
...   ...
18681  63
18682   0
18683 120
18684 149
18685  45

## summarize
คือ การยุบรวมข้อมูล เช่น ค่าเฉลี่ย ค่าผลรวม โดยสามารถแบ่งตามกลุ่มได้ เช่น การคำนวณเนื้อที่ ผลผลิต ผลผลิตต่อไร่ ระดับภาค ทั้งนี้ผลลัพธ์ที่ได้จาก summarize จะเป็น dataframe ที่มีจำนวนแถวลดลง

**Syntax:**
```{r}
df %>%
  group_by(column1, column2, ...) %>%
  summarize(
    new_x = FUN(column_x)
  ) %>% ungroup()
```

In [17]:
df_rds %>%
  filter(subcommod == "ข้าวนาปี", is.na(reg_oae)) %>% tail(5) %>%
  select(subcommod, province, area_plant:yield_harvest)

  subcommod province              area_plant area_harvest production
1 ข้าวนาปี  ประเทศไทย             61956600   58760783     26029366
2 ข้าวนาปี  ภาคเหนือ              14442016   14016297      7893150
3 ข้าวนาปี  ภาคตะวันออกเฉียงเหนือ 38118153   35523372     12668024
4 ข้าวนาปี  ภาคกลาง                8585235    8426120      5083032
5 ข้าวนาปี  ภาคใต้                  811196     794994       385160
  yield_plant yield_harvest
1 420.1226    442.9717
2 546.5407    563.1409
3 332.3357    356.6110
4 592.0667    603.2470
5 474.8051    484.4816

In [18]:
df_rds %>%
  filter(subcommod == "ข้าวนาปี", !is.na(reg_oae)) %>%
  group_by(year_crop, reg_oae) %>%
  summarize(
    area_plant    = sum(area_plant, na.rm = TRUE),
    area_harvest  = sum(area_harvest, na.rm = TRUE),
    production    = sum(production, na.rm = TRUE),
    yield_plant   = mean(yield_plant, na.rm = TRUE),
    yield_harvest = mean(yield_harvest, na.rm = TRUE),
  ) %>% tail(4)

`summarise()` has grouped output by 'year_crop'. You can override using the `.groups` argument.

  year_crop reg_oae area_plant area_harvest production yield_plant
1 2564/65   C        8585235    8426120      5083032   600.0350
2 2564/65   N       14442016   14016297      7893150   535.0989
3 2564/65   NE      38118153   35523372     12668024   338.5462
4 2564/65   S         811196     794994       385160   422.9604
  yield_harvest
1 607.6800
2 549.3914
3 358.8576
4 427.1224

In [19]:
df_rds %>%
  filter(subcommod == "ข้าวนาปี", !is.na(reg_oae)) %>%
  group_by(year_crop, reg_oae) %>%
  summarize(
    yield_plant   = weighted.mean(yield_plant, area_plant, na.rm = TRUE),
    yield_harvest = weighted.mean(yield_harvest, area_harvest, na.rm = TRUE),
    area_plant    = sum(area_plant, na.rm = TRUE),
    area_harvest  = sum(area_harvest, na.rm = TRUE),
    production    = sum(production, na.rm = TRUE)
  ) %>% tail(4) %>%
  select(year_crop, reg_oae, area_plant, area_harvest, production, yield_plant, yield_harvest)

`summarise()` has grouped output by 'year_crop'. You can override using the `.groups` argument.

  year_crop reg_oae area_plant area_harvest production yield_plant
1 2564/65   C        8585235    8426120      5083032   592.0667
2 2564/65   N       14442016   14016297      7893150   546.5407
3 2564/65   NE      38118153   35523372     12668024   332.3357
4 2564/65   S         811196     794994       385160   474.8051
  yield_harvest
1 603.2470
2 563.1409
3 356.6110
4 484.4816

## arrange

In [20]:
df_rds %>%
  filter(year_crop == "2563", subcommod == "ทุเรียน") %>%
  select(province, reg_oae, area_harvest, production, yield_harvest) %>%
  arrange(area_harvest)

    province   reg_oae area_harvest production yield_harvest
1   กาฬสินธุ์  NE        8           2.00      250.00000
2   ลพบุรี     C        28           1.50       53.57143
3   สุพรรณบุรี C        59           1.46       24.74576
4   สุรินทร์   NE      108          49.00      453.70370
5   นนทบุรี    C       183           6.63       36.22951
... ...        ...     ...          ...        ...
40  จันทบุรี   C       195126        380446.0  1949.745
41  ชุมพร      S       196158        315552.0  1608.662
42  ภาคกลาง    NA      305236        565300.2  1852.010
43  ภาคใต้     NA      437993        518896.0  1184.713
44  ประเทศไทย  NA      797553       1115998.2  1399.278

In [21]:
df_rds %>%
  filter(year_crop == "2563", subcommod == "ทุเรียน", !is.na(reg_oae)) %>%
  select(province, reg_oae, area_harvest, production, yield_harvest) %>%
  arrange(-area_harvest) %>% head(10)

   province      reg_oae area_harvest production yield_harvest
1  ชุมพร         S       196158       315552     1608.6624
2  จันทบุรี      C       195126       380446     1949.7453
3  ระยอง         C        66382       114413     1723.5546
4  นครศรีธรรมราช S        53670        51750      964.2258
5  ยะลา          S        53621        53023      988.8477
6  สุราษฎร์ธานี  S        40967        39396      961.6521
7  อุตรดิตถ์     N        37549        21012      559.5888
8  ระนอง         S        31197        25847      828.5092
9  ตราด          C        27683        55176     1993.1366
10 นราธิวาส      S        23622         9344      395.5635

## join
เป็นการเอา 2 ตาราง มาเชื่อมกัน โดยมี column เป็นตัวเชื่อม (key) การเชื่อมมีหลายรูปแบบ ดังนี้
- left_join
- right_join
- inner_join
- full_join
- semi_join
- anti_join
![]()

In [22]:
ref$tha1

    adm1_pcode adm1_name_th          adm1_label_th adm1_name_th_regex
1   TH00       ประเทศไทย             ประเทศไทย     .*ประเทศ
2   TH01       ภาคเหนือ              เหนือ         (ภาค)เหนือ$
3   TH02       ภาคตะวันออกเฉียงเหนือ ตอ.เฉียงเหนือ .*เฉียงเหนือ$
4   TH03       ภาคกลาง               กลาง          .*กลาง$
5   TH04       ภาคตะวันออก           ตะวันออก      .*ตะวันออก$
... ...        ...                   ...           ...
80  TH90       สงขลา                 สงขลา         ^(จ.)*สงขลา$
81  TH91       สตูล                  สตูล          ^(จ.)*สตูล$
82  TH94       ปัตตานี               ปัตตานี       ^(จ.)*ปัตตานี$
83  TH95       ยะลา                  ยะลา          ^(จ.)*ยะลา$
84  TH96       นราธิวาส              นราธิวาส      ^(จ.)*นราธิวาส$
    adm1_name_en adm1_label_en adm1_name_en_regex is_agg code_oae HASC_1 lat
1   Thailand     Thailand      NA                 TRUE   000      NA     NA
2   North        North         NA                 TRUE   001      NA     NA
3   Northeast    Northeast     NA                 TRUE   002      NA     NA
4   Central      Central       NA                 TRUE   003      NA     NA
5   East         East          NA                 TRUE   NA       NA     NA
... ...          ...           ...                ...    ...      ...    ...
80  Songkhla     Songkhla      .*songkhla.*       FALSE  730      TH.SG  7.20
81  Satun        Satun         .*satun.*          FALSE  740      TH.SA  6.88
82  Pattani      Pattani       .*pattani.*        FALSE  750      TH.PI  6.87
83  Yala         Yala          .*yala.*           FALSE  760      TH.YL  6.54
84  Narathiwat   Narathiwat    .*narathiwat.*     FALSE  770      TH.NW  6.41
    lon    alt  reg_oae reg_oae_rank reg_nesdb reg_nesdb_rank reg_osrt
1   NA     NA   NA      NA           NA        NA             NA
2   NA     NA   NA      NA           NA        NA             NA
3   NA     NA   NA      NA           NA        NA             NA
4   NA     NA   NA      NA           NA        NA             NA
5   NA     NA   NA      NA           NA        NA             NA
... ...    ...  ...     ...          ...       ...            ...
80  100.60  5.0 S       4            S         6              S
81   99.79  7.0 S       4            S         6              S
82  101.25  0.9 S       4            S         6              S
83  101.28 31.0 S       4            S         6              S
84  101.81  5.0 S       4            S         6              S
    reg_osrt_rank
1   NA
2   NA
3   NA
4   NA
5   NA
... ...
80  6
81  6
82  6
83  6
84  6

In [23]:
df_rds_subset <- df_rds %>%
  select(commod, subcommod, season, variety, province, area_harvest, production, yield_harvest)
df_rds_subset

      commod subcommod        season variety       province
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       ประเทศไทย
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคเหนือ
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคตะวันออกเฉียงเหนือ
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคกลาง
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคใต้
...   ...    ...              ...    ...           ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อุตรดิตถ์
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อำนาจเจริญ
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อุบลราชธานี
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม บึงกาฬ
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม บุรีรัมย์
      area_harvest production yield_harvest
1     53383281     15757745   295.1813
2     12422132      5258621   423.3268
3     26103169      5389709   206.4772
4     11415444      4010097   351.2870
5      3442536      1099318   319.3338
...   ...          ...        ...
18681 12568         7882      627.1483
18682   510          237      464.7059
18683 40036        19877      496.4782
18684 13416         6837      509.6154
18685  1075          491      456.7442

In [24]:
df_rds_subset %>%
  left_join(ref$tha1, by = c("province" = "adm1_name_th"))

      commod subcommod        season variety       province
1     ข้าว   ข้าวนาปี         1      ข้าวรวม       ประเทศไทย
2     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคเหนือ
3     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคตะวันออกเฉียงเหนือ
4     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคกลาง
5     ข้าว   ข้าวนาปี         1      ข้าวรวม       ภาคใต้
...   ...    ...              ...    ...           ...
18681 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อุตรดิตถ์
18682 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อำนาจเจริญ
18683 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม อุบลราชธานี
18684 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม บึงกาฬ
18685 ข้าว   ข้าวเหนียวนาปรัง 2      ข้าวเหนียวรวม บุรีรัมย์
      area_harvest production yield_harvest adm1_pcode adm1_label_th
1     53383281     15757745   295.1813      TH00       ประเทศไทย
2     12422132      5258621   423.3268      TH01       เหนือ
3     26103169      5389709   206.4772      TH02       ตอ.เฉียงเหนือ
4     11415444      4010097   351.2870      TH03       กลาง
5      3442536      1099318   319.3338      TH06       ใต้
...   ...          ...        ...           ...        ...
18681 12568         7882      627.1483      TH53       อุตรดิตถ์
18682   510          237      464.7059      TH37       อำนาจเจริญ
18683 40036        19877      496.4782      TH34       อุบลราชธานี
18684 13416         6837      509.6154      TH38       บึงกาฬ
18685  1075          491      456.7442      TH31       บุรีรัมย์
      adm1_name_th_regex       adm1_name_en     adm1_label_en
1     .*ประเทศ                 Thailand         Thailand
2     (ภาค)เหนือ$              North            North
3     .*เฉียงเหนือ$            Northeast        Northeast
4     .*กลาง$                  Central          Central
5     .*ใต้.*                  South            South
...   ...                      ...              ...
18681 ^(จ.)*อุตรดิตถ์$         Uttaradit        Uttaradit
18682 ^(จ.)*อำนาจ(เจริญ|เจิญ)$ Amnat Charoen    Amnat Charoen
18683 ^(จ.)*อุบลราชธานี$       Ubon Ratchathani Ubon Ratchathani
18684 ^(จ.)*(บึ|บี)งกาฬ$       Bueng Kan        Bueng Kan
18685 ^(จ.)*บุรีรัมย์$         Buri Ram         Buri Ram
      adm1_name_en_regex    is_agg code_oae HASC_1 lat   lon    alt reg_oae
1     NA                    TRUE   000      NA     NA    NA     NA  NA
2     NA                    TRUE   001      NA     NA    NA     NA  NA
3     NA                    TRUE   002      NA     NA    NA     NA  NA
4     NA                    TRUE   003      NA     NA    NA     NA  NA
5     NA                    TRUE   004      NA     NA    NA     NA  NA
...   ...                   ...    ...      ...    ...   ...    ... ...
18681 .*uttaradit.*         FALSE  120      TH.UD  17.61 100.10  64 N
18682 .*amnat.*charoen.*    FALSE  270      TH.AC  15.86 104.63 249 NE
18683 .*ubon.*ratchathani.* FALSE  280      TH.UR  15.25 104.86 127 NE
18684 .*bueng.*kan.*        FALSE  220      TH.BK  18.36 103.65 249 NE
18685 .*buri.*ram.*         FALSE  310      TH.BR  14.99 103.10 252 NE
      reg_oae_rank reg_nesdb reg_nesdb_rank reg_osrt reg_osrt_rank
1     NA           NA        NA             NA       NA
2     NA           NA        NA             NA       NA
3     NA           NA        NA             NA       NA
4     NA           NA        NA             NA       NA
5     NA           NA        NA             NA       NA
...   ...          ...       ...            ...      ...
18681 1            N         1              N        1
18682 2            NE        2              NE       2
18683 2            NE        2              NE       2
18684 2            NE        2              NE       2
18685 2            NE        2              NE       2

# Reshape Data

![](https://github.com/gadenbuie/tidyexplain/blob/master/images/static/png/original-dfs-tidy.png?raw=true)

## pivot wider
แปลงข้อมูลจาก long format เป็น wide format

In [25]:
df_rds %>%
  filter(subcommod == "ข้าวนาปี", !is.na(reg_oae)) %>%
  pivot_wider(
    province,
    names_prefix = "year_",
    names_from = year,
    values_from = production
  ) %>%
  arrange(-year_2564)

    province    year_2524 year_2525 year_2526 year_2527 year_2528 year_2529
1   อุบลราชธานี 542679    485860    586619    665289    733582    700008
2   นครสวรรค์   731955    623134    741473    721771    758774    700951
3   นครราชสีมา  338263    418893    610933    618812    696466    515710
4   สุรินทร์    550548    583201    756218    586352    604321    612217
5   พิจิตร      478663    583594    564119    494570    536397    497127
... ...         ...       ...       ...       ...       ...       ...
73  สมุทรสงคราม  1760      2053      1711      1760      1646      1426
74  ชุมพร       42873     40263     29357     46916     45455     44612
75  พังงา       17279     21062     12863     12097     12097     12722
76  ระนอง        5038      3078      4252      4947      4779      3397
77  ภูเก็ต       3838      2137      1618      2737      3442      2349
    year_2530 year_2531 year_2532 year_2533 year_2534 year_2535 year_2536
1   897789    742129    848140    909777    804965    821042    713897
2   798258    842201    828101    469565    700644    723542    594785
3   434178    638875    672785    431778    860128    689832    694305
4   336945    584686    579007    676088    580569    704082    726365
5   387492    671286    561130    356995    490108    522502    426689
... ...       ...       ...       ...       ...       ...       ...
73   1350      2821      2222      2760      2855      2645      2465
74  23530     32529     34947     21251     29811     40154     44576
75   7494      9787     10618      7599      5338      5436      6028
76   4739      6156      5936      6147      4637      5146      4474
77   1841      1814      1075      1018       662       541      2098
    year_2537 year_2538 year_2539 year_2540 year_2541 year_2542 year_2543
1   741530    748398    686035    746471    743247    796490    857491
2   740258    611482    717617    714440    714129    753399    988001
3   689239    876813    862601    885008    774393    818435    871314
4   847740    763871    613464    901210    607735    724760    840774
5   483205    419358    455349    590335    608679    447836    629393
... ...       ...       ...       ...       ...       ...       ...
73   1913      2055       898      2092      2308      2173      1716
74  48858     43518     43458     38030     28953     26916     24777
75   5828      5443      7555      7174      6075      6493      5375
76   5657      5265      4188      6460      5457      5188      5019
77    386       476       446       395       307       324       672
    year_2544 year_2545 year_2546 year_2547 year_2548 year_2549 year_2550
1   1034983    864197    865034    952143    970896    960100    981684
2   1045784   1065499   1152436   1141900   1275915   1195389   1258301
3    791458    909685    928823    961193    958338    928738    939499
4    878421    846752   1031890    919317    994967    968064    969165
5    757792    693584    721592    741005    776840    723626    723989
... ...       ...       ...       ...       ...       ...       ...
73   1492      1593      1739      1525      1623      1611      1608
74  18177     24948     23414     19849     17606     18043     14528
75   2914      3332      3497      2743      2731      2797      2982
76   1895      1721      1541      1113      1064      1147      1243
77    610       533       354       404       378       441       459
    year_2551 year_2552 year_2553 year_2554 year_2555 year_2556 year_2557
1    979196   1079125   1233350   1396344   1432101   1265989   1201818
2   1273679   1221459   1129672    894002   1405702   1416140   1355321
3    925403    939810   1006952   1431024   1070390   1067623   1064465
4    964785   1065103   1214083   1158148   1093665   1130219   1176400
5    697865    692478    923660    783770   1106662   1107245    963196
... ...       ...       ...       ...       ...       ...       ...
73    835     1401      1638      2134      2272.0    2970      2639
74  11872     2870      2578      2756      2498.0    2554      2333
75   3001     1022       892       542       552.3     505       453
76   1222      673       623       229       256.0     286       387
77    312       45        61        33        34.0      32        31
    year_2558 year_2559 year_2560 year_2561 year_2562 year_2563 year_2564
1   1239110   1264065   1313057   1382578   1302467   1319811   1358635
2   1192895   1104562   1182867   1425335   1270411   1156046   1291118
3   1086735   1161219   1191036   1008611    748184   1009424   1088726
4   1145706   1137952   1100917    979686   1076468   1049421   1079244
5    875905    919785    876596   1041351   1033110    948681   1052021
... ...       ...       ...       ...       ...       ...       ...
73  2511      1852      1444      1544      1596      1540      1542
74  1854      1626      1263      1190      1384      1410      1478
75   423       616       843      1041       906       936       993
76   371       216       206       245       246       254       260
77    34        35        31        32        33        34        36

## pivot longer
แปลงข้อมูลจาก wide format เป็น long format

In [26]:
df_rds %>%
  filter(subcommod == "ข้าวนาปี") %>%
  pivot_longer(
    area_plant:yield_harvest,
    names_to = "attribute",
    values_to = "value"
  ) %>%
  select(year_crop, subcommod, province, attribute, value)

      year_crop subcommod province  attribute     value
1     2524/25   ข้าวนาปี  ประเทศไทย area_plant    5.639223e+07
2     2524/25   ข้าวนาปี  ประเทศไทย area_harvest  5.338328e+07
3     2524/25   ข้าวนาปี  ประเทศไทย production    1.575774e+07
4     2524/25   ข้าวนาปี  ประเทศไทย yield_plant   2.794311e+02
5     2524/25   ข้าวนาปี  ประเทศไทย yield_harvest 2.951813e+02
...   ...       ...       ...       ...           ...
16456 2564/65   ข้าวนาปี  นราธิวาส  area_plant    40393.0000
16457 2564/65   ข้าวนาปี  นราธิวาส  area_harvest  40293.0000
16458 2564/65   ข้าวนาปี  นราธิวาส  production    18015.0000
16459 2564/65   ข้าวนาปี  นราธิวาส  yield_plant     445.9931
16460 2564/65   ข้าวนาปี  นราธิวาส  yield_harvest   447.1000

# Other useful commands

- `dplyr::count`
- `tidyr::fill`
- etc.

## cheatsheet
![data import](https://github.com/rstudio/cheatsheets/blob/master/pngs/data-import.png?raw=true)
![dplyr](https://github.com/rstudio/cheatsheets/blob/master/pngs/data-transformation.png?raw=true)
![tidyr](https://github.com/rstudio/cheatsheets/blob/master/pngs/tidyr.png?raw=true)

# Save

In [27]:
df_rds %>% write_xlsx("data/df.xlsx")
df_rds %>% saveRDS("data/df.rds")

# Further Topics
- ข้อมูล Categorial ด้วย `forcat`
- ข้อมูลที่เป็น Date/Time และ time-series ด้วย `lubdridate` `xts` `tsibble` `timetk` `tsbox`
- ข้อมูล Spatial หรือ เชิงแผนที่ (vector และ raster) ด้วย `sp` `sf`